!!! 5
html
 head
  title future_tig
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/enchant.js')
  script(type='text/javascript', src='/javascripts/stage.js')
  body(style='margin:0px')
   div(id='enchant-stage', style='width:720px;height:720px')
